extends ./layout/index
block content
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="about", class="img-fluid")
            .col-md-7
                h1 #{page}
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta eaque! Tempore expedita voluptatibus itaque soluta reprehenderit officiis, alias, magni voluptatum quas laboriosam sit! Tempore incidunt mollitia voluptatum earum placeat.
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta eaque! Tempore expedita voluptatibus itaque soluta reprehenderit officiis, alias, magni voluptatum quas laboriosam sit! Tempore incidunt mollitia voluptatum earum placeat.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Security 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta eaque! Tempore expedita voluptatibus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Destinations 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta eaque! Tempore expedita voluptatibus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Prices 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta eaque! Tempore expedita voluptatibus.