extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro
        em Aventure


block content
    main.container.mt-5
        h2.text-center.mb-5 About Us
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit earum, minima eveniet quia consequatur error labore odit placeat possimus, dolore provident sit aut, ullam corporis quas. Mollitia dolore sunt natus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit earum, minima eveniet quia consequatur error labore odit placeat possimus, dolore provident sit aut, ullam corporis quas. Mollitia dolore sunt natus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="", class="img-fluid")

        include ./layout/tripBlocks.pug

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% of Discount 
                        p.titulo Trip to Canada 
                        p.fecha March 20 of 2022- March 28 of 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Reviews
        include ./layout/testimonialsBlock.pug