html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link type="image/png" sizes="16x16" rel="icon" href="img/icons8-airplane-fluency-16.png">
        <link type="image/png" sizes="32x32" rel="icon" href="img/icons8-airplane-fluency-32.png">
        <link type="image/png" sizes="96x96" rel="icon" href="img/icons8-airplane-fluency-96.png">
        <link rel="icon" type="image/png" sizes="72x72" href="img/icons8-airplane-fluency-72.png">
        title #{page} - Agencia de viajes
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Staatliches&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body(class=homeClass)
    include header
    block slider
    block content
    include footer